.portfolio {
	background-color: #fffaf0;
}

.projects {
	margin: 0 auto;
	text-align: center;
	max-width: 1366px;
}

.intro {
	margin: 0 auto;
	text-align: center;
	max-width: 1366px;
}

.portfolio-card {
	margin-top: 2em;
}

.port-title {
	font-weight: 800;
	letter-spacing: 0.225em;
	line-height: 1em;
	padding: 2em 0;
	text-transform: uppercase;
}

.port-desc {
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 0.9em 1em;
}

.port-desc:after {
	display: block;
	content: "";
	border-bottom: solid 2.5px rgba(0, 0, 0, 0.2);
	transform: scaleX(1);
	margin: 1em 0;
}

.card {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

.card-title {
	font-weight: 800;
	letter-spacing: 0.225em;
	line-height: 1em;
	margin: 1em 0;
	text-transform: uppercase;
}

.card-desc {
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 2em 0.9em;
}

.tech-icons {
	display: flex;
	justify-content: space-evenly;
}

.html {
	color: #e44d26;
}

.css {
	color: #264de4;
}

.js {
	color: #f0db4f;
}

.react {
	color: #61dbfb;
}

.node {
	color: #3c873a;
}

.card-links {
	display: flex;
	justify-content: space-evenly;
	padding: 2em 0;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 2.5em;

	border: solid 2px #000;
	border-radius: 5px;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #000;
	text-decoration: none;
}

.site-image {
	display: inline-block;
	margin: 0 auto;
	max-width: 50%;
	border: solid 1px #000;
}
